.sociallinks {
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 32, 32);
    width: 45px ;
    position: fixed;
    left: 0; top: 12%;
}

.sociallinks li {
    width: 150px;
    height: 5%;
    background-color: rgb(226, 32, 32);
    padding: 6px;
    margin-left: -100px;
    margin-right: 0;
    border-radius: 3px;
}

.sociallinks a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
}

.sociallinks li:hover {
    margin-left: 0px;
    transition: ease-in 300ms;
}


/* Mobiles */
@media screen and (max-width: 768px) {
    .sociallinks {
        position:absolute;
        left: 0; top: 12%;
        z-index: 1;
    }
    .sociallinks li {
        height: 4.5%;
    }
    .sociallinks li:hover {
        margin-left: -100px;
    }
}