.smallGroupTraining {
    height: 110vh;
    width: 75%;
    margin-left: auto; margin-right: auto;
    background: white;
    color: rgb(70, 65, 65);
}

.smallGroupTraining h2 {
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: solid 2px rgb(226, 32, 32);
    width: fit-content;
    margin-top: 80px;
    margin-bottom: 20px;
}

.smallGroupTraining p {
    font-size: 20px;
}

.smallGroupTraining-container {
    width: 100%;
    display: flex;
    gap: 3rem;
    margin-top: 40px;
}

.smallGroupTraining-img {
    width: 50%;
}

.smallGroupTraining-img img {
    width: 100%;
    border-radius: 10px;
}

.smallGroupTraining-text {
    width: 45%;
}







/* Mobiles */
@media screen and (max-width: 768px) {
    .smallGroupTraining p {
        font-size: 14px;
    }
}